.filters {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #e5e5ea;
    font-family: 'Inter';
    font-weight: 600;
    color: var(--text);
    font-size: 14px;
    height: 600px;
    
    .header {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--lighter);
        padding: 5px 10px;
        border-bottom: 1px solid var(--lighterborder);
        border-radius: 9px 9px 0 0;
    }

    .filter-content {
        padding: 0 10px;
        .filter-section {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 0;
            border-bottom: 1px dashed var(--lighterborder);
            p {
                margin-left: 2px;
            }
            .filter-options {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                .filter-option {
                    transition: all 0.5s;
                    border: 1px solid var(--lighterborder);
                    border-radius: 5px;
                    padding: 3px 6px;
                    width: fit-content;
                    font-size: 13px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    &.selected {
                        background-color: var(--red);
                        color: var(--background);
                        border: 1px solid var(--red);
                    }
                }
            }
        }
    }
} 