.when-where{
    padding: 25px 40px 20px 25px;
    .time-select{
        display:flex;
        flex-direction: column;
        gap:20px;
        align-items: center;

        select{
            width:60%;
            padding:5px 10px;
            font-size:18px;
            margin:0;
            font-family: 'Inter';
            font-weight: 700;
        }
        .row{
            display: flex;
            max-width: 100%;
            & > .DayColumn > .TimeLabelColumn{
                margin-top:40px;
                left:50px;
            }
        }
        .calendar-wrapper{
            max-width: calc(100% - 100px);
            overflow-y: auto;
            overflow-x: scroll;
            height: -moz-fit-content;
            height: fit-content;
            display: flex;
            justify-content: flex-start;
            position: relative;
            box-sizing: border-box;
            margin:0 50px;
            align-items: center;

        }
    }
}