.analytics{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
    z-index: 2;
    padding:20px;
    box-sizing: border-box;
    overflow: auto;
    .heading{
        
    }
}