.autocomplete-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: fit-content;
    position: relative;
    flex-grow: 1;

    .autocomplete-header {
        display: flex;
        background-color: var(--light);
        border: 1px solid var(--light);
        border-radius: 8px;

        .autocomplete-input {
            font-family: 'Inter';
            font-weight: 600;
            color: var(--text);
            font-size: 15px;
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            min-width: 150px;

            &::placeholder {
                color: var(--darkborder);
            }
        }
    }

    .autocomplete-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background);
        border-radius: 8px;
        border: 1px solid var(--lighterborder);
        z-index: 10;
        width: fit-content;
        margin-top: 5px;
        padding: 5px;
        top: 100%;
        min-width: 100%;
        box-shadow: var(--shadow);

        .autocomplete-option {
            display: flex;
            padding: 5px 8px;
            cursor: pointer;
            font-family: 'Inter';
            font-weight: 600;
            border-radius: 4px;
            font-size: 15px;
            -webkit-user-select: none;
            user-select: none;
            color: var(--text);
            text-wrap: nowrap;

            &:hover {
                background-color: var(--lighter);
            }
        }
    }
} 