.my-events{
    z-index: 2;
    overflow-x: hidden;
    width:100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    .my-events-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
