li.result{
    border-radius: 0;
    padding:10px;
    background-color: white;
    width:90%;
    border: 1px solid var(--lightborder);
    margin:5px 0;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    gap:10px;
    pointer-events: all !important;
}

.result .image{
    border-radius: 5px;
    width:100px;
    height:75px;
    min-width: 100px;
}

.result:hover{
    background-color: var(--lighterborder);
    cursor:pointer;
}

.result h2{
    font-family:'Inter';
    font-weight:600;
    font-size:17px;
    margin: 0;
    hyphens:auto;
    -webkit-hyphens: auto;
}

.result-info{
    display:flex;
    flex-direction: column;
}

.result-info-container{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

@media(max-width:500px){
    .result h2{
        font-family:'Inter';
        font-weight:600;
        font-size:16px;
        margin: 0;
        hyphens:auto;
        -webkit-hyphens: auto;
    }
}