.new-approval {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--background);
    border-radius: 20px;
    gap:20px;
    .header {
        
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin: 0 0 5px 0;
            color: var(--text);
        }
        
        p {
            font-size: 16px;
            color: var(--border);
            margin: 0;
        }
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    
    .field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        label {
            font-size: 16px;
            font-weight: 600;
            color: var(--text);
        }
        
        input.short {
            height: 40px;
            border-radius: 8px;
            border: 1px solid var(--lightborder);
            padding: 0 15px;
            font-size: 15px;
            background-color: var(--background);
            color: var(--text);
            font-family: 'Inter';
            font-weight: 500;

            
            &:focus {
                outline: none;
                border-color: var(--border);
            }
        }
    }
    
    .submit-button {
        margin-top: 100px;
        height: 45px;
        border-radius: 8px;
        background-color: var(--red);
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        &:hover {
            // background-color: darken(var(--red), 10%);
        }
        
        &:focus {
            outline: none;
        }
    }
}