.classroom-component{
    position:absolute;
    height:100%;
    width:100%;
    /* padding: 20px 20px 40px 20px; */
    box-sizing: border-box;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    border-radius: 19px
}

.classroom-component h1{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #414141;
    margin: 0;
}



.image{
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    border-radius: 19px 19px 0 0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image img{
    min-width:100%;
    min-height:100%;
    /* object-fit:cover; */
}

.classroom-info{
    padding:15px 20px;
}

.classroom-info p{
    font-family: 'Inter';
    color:var(--text);
    font-weight:400;
}

.back-to-results{
    margin-bottom:10px;
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
    transform:translateX(-4px);
}

.back-to-results p{
    margin:0;
    font-family:'Inter';
    font-weight:500;
    color:var(--text);
    font-size:14px;

}

.header-row{
    display:flex;
    justify-content: space-between;
    align-items: start;
}

.bookmark-container{
    margin-top:5px;
}

.attributes{
    display:flex;
    gap:5px;
    margin-bottom:10px;
    flex-wrap: wrap;
}

.attribute{
    display:flex;
    align-items:center;
    justify-self: center;
    border-radius:5px;
    padding:3px 5px;
    font-family: 'Inter';
    font-weight:500;
    color:var(--border);
    font-size: 13px;
    cursor: pointer;
    border: 2px solid var(--lightborder);
    gap:5px
}

.attribute img{
    height:13px;
    width:13px;
}



.rating{
    display:flex;
    flex-direction: row;
    gap:5px;
    align-items: center;

}

.rating p{
    margin:0;
    font-size:14px;
    font-family:'Inter';
    font-weight:700;
}

.rating img{
    width:15px;
    height:15px;

}

.info-row{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    margin: 7px 0;
}
