.classroom-component{
    position:absolute;
    height:100%;
    width:100%;
    /* padding: 20px 20px 40px 20px; */
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    border-radius: 19px;
    /* border: 1px solid var(--lighterborder); */
}

.classroom-component h1{
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #414141;
    margin: 0;
    margin-right:10px
}

.classroom-component .image{
    width: 100%;
    height: 30%;
    max-height: 30%;
    top: 0;
    left: 0;
    border-radius: 19px 19px 0 0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image img{
    min-width:100%;
    min-height:100%;
    /* object-fit:cover; */
}

.classroom-info{
    padding:15px 20px;
    max-height:70%;
    overflow-y:scroll;
    box-sizing: border-box;
}

.classroom-info p{
    font-family: 'Inter';
    color:var(--text);
    font-weight:400;
}

.back-to-results{
    margin-bottom:10px;
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
    transform:translateX(-4px);
}

.back-to-results p{
    margin:0;
    font-family:'Inter';
    font-weight:500;
    color:var(--text);
    font-size:14px;

}

.header-row{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bookmark-container{
    margin-top:5px;
}

.attributes{
    display:flex;
    gap:5px;
    margin-bottom:10px;
    flex-wrap: wrap;
}

.attribute{
    display:flex;
    align-items:center;
    justify-self: center;
    border-radius: 10px;
    padding: 3px 8px;
    font-family: 'Inter';
    font-weight:500;
    color:var(--border);
    font-size: 13px;
    cursor: pointer;
    border: 1px solid var(--lighterborder);
    gap:5px
}

.attribute img{
    height:13px;
    width:13px;
}



.rating{
    display:flex;
    flex-direction: row;
    gap:5px;
    align-items: center;

}

.rating p{
    margin:0;
    font-size:14px;
    font-family:'Inter';
    font-weight:700;
}

.rating img{
    width:15px;
    height:15px;

}

.info-row{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    margin: 7px 0;
}

.classroom-component .check-in{
    width: calc(100% - 30px);
    margin:15px;
    position: absolute;
    bottom:0;
    left:0;
    border-radius: 10px;
    border: 1px solid var(--lighterborder);
    box-shadow: var(--shadow);
    padding:15px;
    box-sizing: border-box;
    background-color: white;
}

.classroom-component .check-in .free-until,
.classroom-component .check-in .class-until{
    font-weight:500;
    /* margin: 5px 0 10px 0; */
    font-size:14px;
    display:flex;
    align-items:center;
    gap:5px;
    color:var(--green);
    padding:0 15px;
    position: relative;
    font-family: 'Inter';
}
    
.classroom-component .check-in .class-until{
    color:var(--red);
}


.classroom-component .button-container{
    display: flex;
    gap:10px;
    margin-top:10px;
    width:100%;
}

.classroom-component .check-in button{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 650;
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    flex-grow:1;
    cursor: pointer;
}

.classrorom-component .check-in button:hover{
    cursor:pointer;
}

.classroom-component .check-in button:disabled{
    background-color: var(--lighterborder);
    color: var(--border);
    cursor: not-allowed;
}

.classroom-component button.schedule-button{
    background-color: var(--blue);
}

.check-in p{
    font-size: 13px;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--border);
    margin: 0;
    width:100%;
    text-align: center;
    margin-top:10px;

}

.classroom-component .rating-num{
    font-size: 12px;
    font-family: 'Inter';
    font-weight:500;
    color: var(--text);
    position:relative;
}


.classroom-component .rating-num::after{
    content: '';
    position:absolute;
    bottom:-1px;
    height:1px;
    width:100%;
    left:0;
    border-radius:5px;
    background-color: var(--text);
}

/* .check-in-button::after{
    content: "check-in feature coming soon";
    font-size: 10px;
    color: var(--text);
    font-family: 'Inter';
    font-weight: 500;
    position: absolute;
    width: calc(100% - 80px);
    top:-40px;
    left:0;
    border-radius: 5px;
    margin: 0 30px;
    padding: 5px 10px;

    border: 1px solid var(--lighterborder);
} */

@media (max-width:500px) {
    .classroom-component .check-in button{
        font-size:15px;
    }
}

