.room{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFF;
    height:100vh;
    position: relative;
}

.calendar-container{
    display:flex;
    max-width:1300px;
    background-color: white;
    border-radius: 21px;
    /* padding:20px 20px 60px 20px; */
    flex-direction: row;
    border: 1px solid #B0AFAF;
    width:calc(100% - 100px);
    height:calc(100% - 60px);
    max-height: min(calc(100% - 60px), 800px);
    overflow:hidden;
    position: relative;
} 

.left-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    /* padding: 20px 0 0 0; */
    border: 1px solid #B0AFAF;
    border-radius: 20px;
    position: relative;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:calc(100% - 80px);
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;

}
.right{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:70%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:30%;
    height:100%;
    box-sizing: border-box;
    /* padding: 20px 0 0 0; */
    border: 1px solid #B0AFAF;
    border-radius: 20px;
    position: relative;
}

select{
    border-radius: 10px;
    border: 1px solid #B0AFAF;
    font-family: 'Satoshi';
    font-size: 25px;
    font-weight: bold;
    color: #414141;
    padding: 5px 10px;
    box-sizing: border-box;
    margin:30px 0 0 0;
    outline: none;
    text-align: center;
}

.time-results{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:98%;
    position:relative;
    border:none;
    list-style-type: none;
    box-sizing: border-box;    
    padding:0;
    max-height:100%;
    height:100%;
    overflow:scroll;
    margin-top:10px;
    border-radius: 0 0 20px 20px;
}

.time-results li{
    /* border-bottom:1px solid var(--lightborder); */
    border-radius: 0;
    padding:10px 30px;
    background-color: white;
    width:90%;
    border: 1px solid var(--lightborder);
    margin:5px 0;
    border-radius: 10px;
}

.time-results li h2{
    font-family:'Inter';
    font-weight:600;
    font-size:17px;
    margin: 5px 0;
}

.time-results li .free-until{
    font-weight:500;
    margin: 5px 0;
    font-size:13px;
}

::-webkit-scrollbar {
    width: 10px; /* or height for horizontal scrollbars */
  }
  
  /* This styles the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
    background: var(--lightborder); /* Thumb color */
    border-radius: 10px; /* Roundness of the thumb */
}
  
  /* This styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #949494; /* Darker color on hover */
    cursor:pointer;
  }



.resultCount{
    font-size:20px;
    text-align: left;
    margin-left:30px;
    top:0;
    left:0;
    width:calc(100% - 30px);
    margin-top:20px;
    margin: 20px 0 0 30px;
}

.instructions-container{
    position: absolute;
    height:100%;
    width:100%;
    display:grid;
}

.instructions{
    position: absolute;
    align-self: center;
    justify-self: center;
    width:50%;
    text-align: center;
    transform:translateY(-20px);
}

.instructions p{
    font-size: 17px;
    font-weight: 400;
    color: var(--border);
    font-family:'Inter',sans-serif;
}

.calendar-content-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow:hidden;
    position: absolute;
    pointer-events: none;
}

.calendar-content-container.active{
    pointer-events: all;
}
.show-calendar{
    position: absolute;
    bottom:10px;
    left:0;
    z-index: 10;
    transition: all 1s;
    left:calc(50% - 20px);
    height:40px;
    width:40px;
    outline:none;
    background-color: white;
    border: none;
}

.show-calendar:active{
    transform: translateY(-700px);
}

.free-now{
    font-size: 16px;
    font-weight: 400;
    color: var(--border);
    font-family:'Inter',sans-serif;
    background-color: white;
    outline:none;
    border:1px solid var(--border);
    border-radius: 5px;

}

.free-now:hover{
    cursor:pointer;
}

.loader-container{
    height:20%;
    width:20%;
}

@media(max-width:500px){
    select{
        font-size:18px;
        width:300px;
        margin:10px 0 0 0;
    }
    .calendar-container{
        /* padding: 20px 20px 40px 20px; */
        width:100%;
        box-sizing: border-box;
        height:100%;
        max-height:100%;
        flex-direction: column;
    }
    .content-container{
        padding:0px 20px 20px 20px;
        width:97%;
    }
}