
.forgotten-email{
    height:100vh;
    max-height:100%;
    width:100%;
    
    .logo , .header{
        max-height:100%;
        width:100%;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
    }

    .header-img{
        display: flex;
        .logo{
            height: 50px;
            padding-top: 20px;
      
        }
    
        .gradient{
            height: 200px;
            position: absolute;
            z-index: -1;
            &.tl{
                top:0;
                left:0;
            }
            &.tr{
                top:0;
                right:0;
            }
        }

    }

    .header{
        padding-top: 50px;
    }

    .email-content{
        font-family: Inter, sans-serif;
        font-size: 14px;
        position: relative;
        padding: 0 100px;
        font-weight: 500;

        .password-link{
            color: var(--blue);
        }

    }

}

@media (max-width: 500px){
  .forgotten-email{
    
    .header{
        font-size: 20px;
        padding-top: 30px;
     }

    .header-img{
        .logo{
            height: 35px;
            padding-top: 10px;
      
        }

        .gradient{
            height: 100px;
            position: absolute;
            &.tl{
                top:0;
                left:0;
            }
            &.tr{
                top:0;
                right:0;
            }
        }

    }

    .email-content{
        font-size: 14px;
        padding: 0px 50px;

    }

  }

}
