.month{
    height:100%;
    max-height:100%;
    .calendar-header{
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        width:100%;
        height:40px; 
        box-sizing: border-box;
        border-right: 1px solid var(--lighterborder);
        border-bottom: 1px solid var(--lighterborder);
        border-radius: 0 10px 0 0 ;

        & > div:first-child{
            border-radius: 10px 0 0 0;
        }

        & > div:last-child{
            border-radius: 0 10px 0 0 ;

        }

        .day{
            box-sizing: border-box;
            display:flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid var(--lighterborder);
            border-left: 1px solid var(--lighterborder);
            
        }

        p{
            font-family: 'Inter';
            font-size: 16px;
            color: var(--text);
            font-weight:500;
            margin:0;
            text-align: center;
        }
    }
    .calendar{
        height:calc(100% - 40px);
        max-height:calc(100% - 40px);
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        box-sizing: border-box;
        // border-top: 1px solid var(--lightborder);
        border-left: 1px solid var(--lighterborder);

        &__day{
            display:flex;
            box-sizing: border-box;
            padding:5px;
            border-bottom: 1px solid var(--lighterborder);
            border-right: 1px solid var(--lighterborder);
            background-color: var(--lightest);
            flex-direction: column;
            gap:5px;

            .day-header{
                width:100%;
                display:flex;
                height: fit-content;
                p{
                    font-family: 'Inter';
                    font-weight:400;
                    font-size: 15px;
                    color: var(--text); 
                }
            }

            .events{
                display: flex;
                flex-direction: column;
                gap:3px;
                .event{
                    margin:0;
                }
            }
            &.is-disabled{
                background-color: var(--light);
            }
        }

        &__day:last-child{
            border-radius: 0 0 10px 0;
        }

    }
}