.eventmeeting{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;

    .back{
        padding-top: 10px;
        padding-left: 10px;
        button{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            border-radius: 7px;
            background-color: var(--light);
            width: fit-content;
            border: 1px solid var(--lightborder);
            gap: 8px;

            img{
                height: 15px;
            }
        }


    }

    .center{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 80px;
        // padding: 0px 50px;

        .header{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .circle{
            display:flex;
            flex-direction: row;
            height: 100px;
            width:100px;
            justify-content: left;
            align-content: flex-start;
            // background-color: black; 
            border-radius: 50%;
        }

        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;
            font-family: Inter, sans-serif;
            // color: black;
            position: relative;

            &.title{
                font-size: 25px;
                font-weight: bold;
            }

            &.time{ 
                display: flex;
                flex-direction: row;
                font-size: 15px;
                align-items: center;
                gap: 5px;

                img{
                    height: 22px;
                }

                &.status{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    font-size: 10px;
                    color: green;

                    .circle{
                        
                        height: 5px;
                        width:5px;
                        justify-content: left;
                        align-content: flex-start;
                        background-color: green; 
                        border-radius: 50%;

                    }
                }
            }
        }

        






    }

    .agenda{
        display: flex;
        flex-direction: column;
        // margin-top: 60px;
        margin: 50px 70px 30px 70px;

        box-sizing: border-box;
        border-radius: 10px;
        max-width: 1400px;
        height: 500px;
        border: 1px solid var(--lightborder);
        
        h1{
            display: flex;
            flex-direction: row;
            font-family: Inter, sans-serif;
            font-size: 15px;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--lightborder);;
                           
        }

    

    }





}


@media (max-width: 500px){
    .eventmeeting{
        .back{
            padding-top: 5px;
            padding-left: 5px;
            
            button{
                font-size: 10px;
                height: 20px;
                gap: 5px;

                img{
                    height: 10px;
                }
                
            }
            
        }

        .center{
            margin-top: 10px;
            margin-left: 10px;
            
            .circle{
                height: 80px;
                width:80px;
            }

            .info{
                &.title{
                    font-size: 20px;

                }

                &.time{
                    font-size: 12px;

                    img{
                        height: 18px;
                    }

                    &.ongoing{
                        font-size: 8px;
                    }

                }


            }
        }  
        
        .agenda{
            margin: 20px 20px 3px 20px;

            h1{
                font-size: 12px;
            }
        }
       
    }
}