
.display-settings.settings-right{
    .settings-left .display{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 18px;
        gap: 10px;
        /* height:43px; */
        width:100%;
        box-sizing: border-box;
        font-family: 'Satoshi';
        font-size: 14px;
        color: var(--text);
        transition: all 0.3s;
        border-radius: 10px;
        cursor:pointer;
    }
    
    .settings-left .display button {
        background: none;
        border: none;
    }

    .profile .mode{
        display: flex;
        flex-direction: row;
    }
    .profile .light-mode{
        margin: 10px;
        align-items: center;
        position: relative;
    }

    .profile .dark-mode{
        margin: 10px;
        align-items: center;
        position: relative;
    }

    .profile .button{
        display: flex;
        border: none;
        border-radius: 6px;
    }
    
    img {
        border-radius: 0%;
        width: 100px;
        height: 70px;
        margin-left: 0px;
    }
    
    .profile .mode button {
        background: none;
        /* padding: 3px; */
        border: none;
        
    }
    .profile .mode .img::before{
      

    }

    .mode .selected::before{
        content:'';
        border-radius: 10px; 
        border: 2px solid var(--red);
        position: absolute;
        top:-3px;
        right:-2px;
        width:calc(100%);
        height: calc(100%);
    }

    .profile .mode img.selected::before {

      }



}