@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
    width:300px;
    align-items: center;
    font-family: Inter, sans-serif;
    height:100%;
}

form input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 25px 20px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: #F5F5F5;
    color: #414141;
    box-sizing: border-box;
    outline: none;
    border:none;
    position: relative;
    font-weight:500;
}

form input::placeholder{
    color: #B1B1B1;
}

.email p,
.password p,
.username p {
    font-family:Inter, sans-serif;
    font-size:13px;
    font-weight: 500;
    color: #414141;
    margin: 0 0 5px 7px;
}

.email,
.password,
.username{
    position: relative;
    width:100%;
}

.button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: #F5F5F5;
    box-sizing: border-box;
    outline: none;
    border:none;
    position: relative;
    font-weight:600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top:10px;
    gap:10px;
    color:#B1B1B1;
    pointer-events: none;
}


.active{
    background-color: rgba(177, 230, 176, 0.80);
    color: #414141;
    pointer-events: all;
}

.active:hover{
    background-color: rgba(149, 198, 148, 0.80);
}

.already{
    font-size: 13px;
    font-family: Inter, sans-serif;
    color: #414141;
    width:100%;
    text-align: left;
    margin: 0 0 0 7px;
}

.google{
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin-top:0;
    pointer-events: all;
}

.divider{
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content: center;
    align-items: center;
}

.divider hr{
    width: 100%;
    height: 2.1px;
    background-color: #DDDCDC;
    margin: 0;
    border:none;
    border-radius: 3px;

}

.divider p{
    font-family:Inter, sans-serif;
    font-size:13px;
    font-weight: 500;
    color: #414141;
    margin: 0 10px;
}

.google-button{
    width:100% !important;
}

.error{
    font-family: Inter, sans-serif;
    position: relative;
    font-size:14px;
    padding: 10px 15px;
    font-weight:500;
    color: #FD5858;
    background-color: rgba(250, 117, 109, 0.16);
    border-radius: 10px;
    box-sizing: border-box;
    width:100%;
    display:flex;
    gap:10px;
    overflow: hidden;
}

.error::before{
    content:'';
    position:absolute;
    top:0;
    left:0; 
    height:100%;
    background-color: #FD5858;
    width:7px;
    opacity:0.8;
    border-radius: 15px 0 0 15px;
}