.org-events {
    width: 100%;
    
    .org-events-error {
        text-align: center;
        padding: 2rem;
        color: #ff5c5c;
        font-weight: 500;
        background-color: #fff5f5;
        border: 1px solid #ffebeb;
        border-radius: 8px;
        margin: 1rem 0;
    }
} 