:root{
    --club-background: var(--background);
    --club-dark:rgba(9, 9, 11, .05);
}


.club-dash{
    overflow: hidden;
    height:100vh;
    width:100vw;
    display:flex;
    background-color: var(--club-background);
    z-index: 0;    
    &.loading{
        .dash-left{
            min-width:220px;
            opacity: 1 !important;
            .logo{
                &>*{
                    opacity: 0;
                }
                background-color: var(--lightborder);
            }
        }
    }
}


/* Showing animation: width first, then opacity */
@keyframes show {
    0% {
      width: 10px;
      opacity: 0;
    }
    80% {
      width: 220px;
      opacity: 0;
    }
    100% {
      width: 220px;
      opacity: 1;
    }
  }
  
  /* Hiding animation: opacity first, then width */
  @keyframes hide {
    0% {
      width: 220px;
      opacity: 1;
    }
    20% {
      width: 220px;
      opacity: 0;
    }
    100% {
      width: 10px;
      opacity: 0;
    }
  }
