.members{
    .content{
        border-radius: 10px;
        box-sizing: border-box;
        border: 1px solid var(--lightborder);
        height: 800px;
        width: 300px;

        .topbox{
            display: flex;
            gap: 15px;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            .selected{
                display: flex;
                justify-content: center;
                border-radius: 8px;
                box-sizing: border-box;
                border: 1px solid var(--lightborder);
                background-color: var(--red);
                height: fit-content;
                width: fit-content;
                padding: 5px 20px 5px 20px;
                h2{
                    color: white;
                }
                
            }

            h2{
                font-size: 15px;
                //color: white;
                font-family: Inter, sans-serif;
                display: flex;
                align-items: center;
                margin: 0;

            }



        }
        .list{
            box-sizing: border-box;
            border: 1px solid var(--lightborder);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px;
            gap: 10px;

            .box{
                display: flex;
                flex-direction: column;
                h3{
                    margin: 0px;
                    font-size: 15px;
                }
                h4{
                    color: var(--darkborder);
                    margin: 0px;
                    font-size: 12px;
                }
    

            }
            img{
                height: 30px;
            }

        }




    }
}