.Agenda{
    width: 100%;
    background-color: var(--lightborder);
    z-index: 1;
    .back{
        padding-top: 10px;
        padding-left: 10px;
        button{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            border-radius: 7px;
            background-color: var(--light);
            width: fit-content;
            gap: 8px;

            img{
                height: 15px;
            }
        }
    }
    .Middle{
        // border: 2px solid #ffffff;
        padding: 16px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #f9f9f9;
        width: 300px;
        height: 400px;
        margin: 20px auto;
        margin-top: 100px;
        // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        .header{
            display: flex;
            flex-direction: row;

        }

        .circle{
            display:flex;
            flex-direction: row;
            height: 75px;
            width:75px;
            justify-content: left;
            align-content: flex-start;
            // sbackground-color: black; 
            border-radius: 50%;
        }

        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;
            font-family: Inter, sans-serif;
            // color: black;
            position: relative;

            &.title{
                font-size: 15px;
                font-weight: bold;
            }

            &.time{ 
                display: flex;
                flex-direction: row;
                font-size: 15px;
                align-items: center;
                gap: 5px;

                img{
                    height: 22px;
                }
            }
        }
        .subtitle{
           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
       
           margin-top: 20px;

           img{
            width: 100px;
            height: 100px;
           }
            
        }

    }

}


// @media (max-width: 500px){
//     .eventmeeting{
//         .back{
//             padding-top: 5px;
//             padding-left: 5px;
            
//             button{
//                 font-size: 10px;
//                 height: 20px;
//                 gap: 5px;

//                 img{
//                     height: 10px;
//                 }
                
//             }
            
//         }

//         .center{
//             margin-top: 10px;
//             margin-left: 10px;
            
//             .circle{
//                 height: 80px;
//                 width:80px;
//             }

//             .info{
//                 &.title{
//                     font-size: 20px;

//                 }

//                 &.time{
//                     font-size: 12px;

//                     img{
//                         height: 18px;
//                     }

//                     &.ongoing{
//                         font-size: 8px;
//                     }

//                 }


//             }
//         }  
        
//         .agenda{
//             margin: 20px 20px 3px 20px;

//             h1{
//                 font-size: 12px;
//             }
//         }
       
//     }
// }