.settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    max-height:100vh;
    position: relative;
}

.settings-container{
    display: flex;
    max-width:1500px;
    border-radius: 21px;
    box-sizing: border-box;
    width:100%;
    width:calc(100% - 100px);
    height:calc(100% - 115px);
    max-height:calc(100% - 115px);
    border: 1px solid #B0AFAF;
    border-radius: 20px;
    position: relative;
}

.settings-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:230px;
    height:100%;
    border-right: 1px solid #B0AFAF;

}

.settings-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:70%;
    height:100%;
    box-sizing: border-box;
    padding: 28px;
    width: calc(100% - 230px);
    overflow-y:scroll;

}

.settings-left .header{
    display: flex;
    flex-direction: row;
    /* height:63px; */
    width:100%;
    box-sizing: border-box;
    padding-top: 9px;
}

.settings-left .header .name{
    display: flex;
    flex-direction: column;
    /* height: 37px; */
    width: 128px;
    padding-left: 10px;
}

.settings-left .header h1{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    font-size: 16px;
    color: var(--text);
    margin: 0px;
}

.settings-left .header p{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    font-size: 14px;
    color: var(--border);
    margin: 0 0 0px 0;
}

.settings-left .header img{
    display: flex;
    flex-direction: column;
    height:40px;
    width:40px;
    padding-left: 10px;
    
}

.settings-left .preferences{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    /* height:43px; */
    width:100%;
    box-sizing: border-box;
    font-family: 'Satoshi';
    font-size: 14px;
    color: var(--text);

}

.settings-right .header{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
}

.settings-right .profile{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    font-size: 14px;
    color: var(--text);
}

.settings-right .name-settings{
    display: flex;
    flex-direction: row;
    font-family: 'Satoshi';
    gap: 20px;
    width: 42px;
}

.settings-right .name-settings .input-name{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    /* gap: 200px; */
    width: 237px;
    height: 31px;
}

.settings-right .user-container{
    display: flex;
    flex-direction: row;
    font-family: 'Satoshi';
    padding-left: 37px;
    width: 100%;
    /* height: 69px; */
    margin: 0px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.settings-right .user-container button{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    color: var(--text);
    font-size: 12px;
    padding: 5px 9px;
    height: fit-content;
    outline: none;
    border: none;
    border-radius: 6px;
}

.settings-right .user-container .user{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    width: 79px;
    /* height: 42px; */
}

.settings-right .user-container .email{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    width: 137px;
    /* height: 42px; */
}

.settings-right .user-container .password{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    width: 67px;
    /* height: 42px; */
}

.settings-right .user-container .delete{
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    width: 100%;
    /* height: 55px; */
}


.settings-right .user-container .delete p{
    display: flex;
    flex-direction: row;
    margin: 0px;
    color: var(--border);
    font-size: 12px;
}

.settings-right .user-container .delete button {
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi';
    padding: 0px;
    font-size: 14px;
    height: fit-content;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.settings-right .user-container .delete h3{
    color: red;
}


.settings-right h2{
    font-family: 'Inter';
    font-size: 16px;
    color: var(--text);
    font-weight: 600;
    margin: 0px;
    margin-bottom: 7px;
    margin-top: 15px;
}

.settings-right h3{
    font-family: 'Inter';
    font-size: 14px;
    color: var(--text);
    font-weight: 600;
    margin: 0px;
    margin-bottom: 7px;
}

.settings-right p{
    display: flex;
    flex-direction: row;
    margin: 0px;
    color: var(--border);
    font-size: 15px;
}

.settings-right hr{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: var(--border);
}

.settings-right img{
    display: flex;
    flex-direction: row;
    height:62px;
    width:62px;
    padding-left: 10px;
}

@media (max-width:700px) {
    .settings-left{
        display:block;
        width:100%;
        border-right:none;
    }

    .settings-left .header{
        padding: 20px;
        padding-bottom: 10px;
        gap: 10px;
        position: relative;
    }

    .settings-left .header img{
        height:50px;
        width:50px;
        padding: 0px;
        
    }

    .settings-left .header .right-arrow{
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:0;
        right:20px;
        background: none;
        border: none;
    }

    .settings-left .header .right-arrow img{
        height: 17px;
        width: 17px;
    }

    .settings-left .header h1{
        font-size: 20px;
        
    }

    .settings-left .header p{
        font-size: 17px;
        
    }

    .settings-left .preferences{
        font-size: 17px;
        padding: 0px 24px;
        position: relative;
    }

    .settings-left .preferences img{
        width: 25px;
    }

    .settings-left .preferences .right-arrow img{
        height: 17px;
        width: 17px;
    }
    .settings-left .preferences .right-arrow{
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:0;
        right:20px;
        background: none;
        border: none;
    }

    .settings-container{
        width:100%;
        box-sizing: border-box;
        height:100%;
        max-height:100%;
        flex-direction: column;
        overflow:hidden;
    }
    .settings-right{
        width: 100%;
        transition: all 0.5s ease;
        transform:translateX(100%);
        position:absolute;
        background-color: white;
        border-left: 1px solid var(--border);
        box-sizing: border-box;
        border-radius: 20px;
    }

    .settings-right.active{
        transform:translateX(-1px);
    }

    /* .settings-right.not-active{
        transform:translateX(-100%);
    } */

    .settings-right .user-container{
        padding: 10px;
    }

    .settings-right .header{
        position: relative;
        padding-left: 35px;

    }

    .settings-right .header img{
        height: 17px;
        width: 17px;
    }

    .settings-right .header .back-arrow{
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:0px;
        left:0px;
        background: none;
        border: none;
        height: calc(100% - 10px);
        padding: 0;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

}