.room{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFF;
    height:100vh;
    position: relative;
}

.calendar-container{
    display:flex;
    max-width:1300px;
    background-color: white;
    border-radius: 21px;
    /* padding:20px 20px 60px 20px; */
    flex-direction: row;
    border: 1px solid #B0AFAF;
    width:calc(100% - 100px);
    height:calc(100% - 60px);
    max-height: min(calc(100% - 60px), 800px);
    overflow:none;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:calc(100% - 80px);
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;

}
.right{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:70%;
    height:100%;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.left{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:30%;
    height:100%;
    box-sizing: border-box;
    /* padding: 20px 0 0 0; */
    border: 1px solid #B0AFAF;
    border-radius: 20px;
    position: relative;
}

select{
    border-radius: 10px;
    border: 1px solid #B0AFAF;
    font-family: 'Satoshi';
    font-size: 25px;
    font-weight: bold;
    color: #414141;
    padding: 5px 10px;
    box-sizing: border-box;
    margin:30px 0 0 0;
    outline: none;
    text-align: center;
}

.time-results{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width:100%;
    position:relative;
    border:none;
    list-style-type: none;
    box-sizing: border-box;    
    padding:0;
    max-height:100%;
    height:100%;
    overflow:scroll;
    margin-top:10px;
    border-radius: 0 0 20px 20px;
}

.time-results li{
    border-bottom:1px solid var(--lightborder);
    border-radius: 0;
    padding:10px 30px;
    background-color: white;
}

.time-results::-webkit-scrollbar-thumb {
    background-color: var(--lightborder); /* Color of the scrollbar thumb */
    border-radius: 15px;
}

.left h1{
    font-size:20px;
    text-align: left;
    margin-left:30px;
    top:0;
    left:0;
    width:calc(100% - 30px);
    margin-top:20px;
    margin: 20px 0 0 30px;
}


@media(max-width:400px){
    select{
        font-size:18px;
        width:300px;
        margin:10px 0 0 0;
    }
    .calendar-container{
        padding: 20px 10px 40px 10px;
        width: auto;
    }
}