.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    display:flex;
    flex-direction: row;
    width:725px;
}

.App-header p{
    width: 20%;
    color: #B0AFAF;
    font-family: 'Satoshi';
    font-size: 14px;
    font-weight: normal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Time-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
