@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --light:rgba(238, 238, 238, 1);
    --dark: rgba(226, 226, 226, 1);
    --lightred: rgba(250, 117, 109, 0.3);
    --red: rgba(250, 117, 109, 1);
    --salmon: #FF8888;
    --blue: #87AFF1;
    --text: #414141;
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --border:#B0AFAF;
    --lightborder:#DDDCDC;
    --lighterborder:#E4E5E6;
    --green: #4DAA57;
    --shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
    --lighter: #F5F5F5;
    --translucent: rgba(227,227,227, 0.13);
    --yellow: #DBAB0A;
    --yellow: #FBBC05;
}

.App {
  text-align: center;
}

h1{
    font-family: 'Satoshi';
    font-size: 25px;
    font-weight: bold;
    color: #414141;
    margin: 0 0 10px 0;
}

p{
    margin:0;
    color: var(--text);
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
}

a{
    text-decoration: none;
    color: rgba(48, 107, 172, 0.80);
}

a:hover{
    cursor:pointer;
}

.App-link {
  color: #61dafb;
}

.Time-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@keyframes shimmering {
	0% {
		background-position: -1300px 0;
	}
	100% {
		background-position: 1300px 0;
	}
}

.shimmer {
	animation: shimmering 2s linear infinite;
	background: var(--dark);
	background: linear-gradient(90deg, var(--dark) 9%, var(--light) 18%, var(--dark) 31%);
	background-size: 1300px 100%;
    opacity: 0.8;
}

.shimmer:hover{
    transform:scale(1) !important;
}
.main{
  display:flex;
  flex-direction:column;
  /* justify-content:center; */
  align-items:center;
  min-height:100vh;
}

/* button{
    font-family: 'Satoshi';
    font-size: 15px;
    outline:none;
    border: 1px solid #B0AFAF;
    border-radius: 5px;
    background-color: white;
    padding:5px 20px;
    color: #B0AFAF;
}

button.active{
    background-color: var(--lightred);
    color: white;
    border: 1px solid var(--lightred);
    color: #414141;
} */

.component{
    position: relative;
    overflow:hidden;
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: flex-start ;
    flex-direction: column;
}

.notification-container{
    position: absolute;
    display:grid;
    width:100%;
    height:100%;
    pointer-events: none;
    top:0;
    left:0;
}


.notification{
    width: 40%;
    /* height: 50px; */
    background-color: white;
    border: 1px solid var(--lightborder);
    border-radius: 15px;
    position:absolute;
    top: 50px;
    justify-self: center;   
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px; 
    animation: slideIn 0.3s ease, fadeIn 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    z-index: 100;
    gap:10px;
}

.notification content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    height:100%;

}

.notification h1{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 800;
    color: var(--text);
    margin: 0;
    margin-bottom: 3px;
}

.notification p{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    color: var(--text);
    margin: 0;
}

.notification.remove{
    transform: translateY(-300%);

}

.button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    background-color: #F5F5F5;
    box-sizing: border-box;
    outline: none;
    border:none;
    position: relative;
    font-weight:600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top:10px;
    gap:10px;
    color:#B1B1B1;
    pointer-events: none;
}


.button.active{
    background-color: rgba(177, 230, 176, 0.80);
    color: #414141;
    pointer-events: all;
}

.button.active:hover{
    filter:brightness(0.8)
}

.button.active.lightred{
    background-color: var(--lightred);

}


@media screen and (max-width: 768px){
    .notification{
        width: 80%;
    }
    
}


@keyframes slideIn{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }