.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    box-sizing: border-box;
    height:80px;
    width: calc(100% - 100px);
    max-width: 1500px;
}

.logo{
    width:200px;
}

.header-right{
    height:50px;
    /* width:50px; */
}

.Header button{
    font-family: 'Satoshi';
    font-size: 15px;
    outline:none;
    border-radius: 12px;
    background-color: var(--red);
    border:none;
    padding:5px 20px;
    margin:10px;
    color: white;
    width:calc(100% - 20px);
}

.Header button:hover{
    cursor:pointer;
}

@media(max-width: 400px){
    .Header{
        width:100%;
    }
}