.Header{
    width:1300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    box-sizing: border-box;
    height:80px;
    width: calc(100% - 100px);
}

.logo{
    width:200px;
}

.header-right{
    height:50px;
}

@media(max-width: 400px){
    .Header{
        width:100%;
    }
}