.create-event-v2-wrapper {
    width: 100%;
    height: 100%;

    .host-selector-container {
        padding: 1.5rem 2rem;
        background-color: var(--background);
        border-bottom: 1px solid var(--lighterborder);
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

