.profile-picture{
    height:50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture .profile{
    height:35px;
    width:35px;
    z-index: 3;
    position: relative;
    margin:5px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
}

.profile-picture:hover{
    cursor:pointer;
}

.popup-container{
    position: absolute;
    right:10px;
    top:50px;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition:opacity 0.3s;
}

.popup-container.popup-active{
    opacity: 1;
    pointer-events: all;
}

.popup{
    display:flex;
    flex-direction: column;
    width:230px;
    box-sizing: border-box;
    // border-radius: 15px;
    background-color: var(--background);
    transition:max-height 1s;
    background-color: transparent;
    border: 1px solid var(--lighterborder);
    overflow:hidden;
    padding: 0 0 4px 0;
    box-shadow: var(--shadow);
    max-height:80vh;
    overflow-y: auto;

}

.popup-active .popup{
    border: 1px solid var(--lighterborder);
    background-color: var(--background);
    box-shadow: var(--shadow);
}

.profile-picture button{
    font-family: 'Satoshi';
    font-size: 15px;
    outline:none;
    border-radius: 12px;
    background-color: var(--red);
    border:none;
    padding:5px 20px;
    margin:10px;
    color: white;
    width:calc(100% - 20px);
    position: absolute;
    bottom:0;
}

.profile-picture button:hover{
    cursor:pointer;
}

.popup-content{
    margin:5px;
    height:fit-content; 
    display:flex;
    flex-direction: row;
    width:100%; 
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}

.popup-content .profile{
    height:40px;
    width:40px;
    min-width: 40px;
    min-height: 40px;
    z-index: 1000;
    object-fit: cover;
}

.popup p.section{
    font-size:10px;
    color: var(--darkborder);
    font-weight: 500;
    margin:3px 0 0 10px;

}

.popup-content h3{
    transform:translateY(-2px);
    flex-grow:1;
    font-size:17px;
    text-align: left;
    font-family:'Satoshi';
    color:var(--text);
    margin:0;
}

.profile-info{
    display:flex;
    flex-direction: column;
    margin-left:5px;
    height:fit-content;
}

hr{
    margin:4px 0;
    background-color: var(--lighterborder);
    height:1px;
    border:none;
    min-height:1px;
    width:100%;
}


.menu-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    /* margin:5px 0; */
    padding:5px;
    padding-left:10px;
    width:100%;
    box-sizing: border-box;
    margin: 0px 5px;
}

.menu-item iconify-icon{
    color:var(--darkborder);
    font-size:20px;
}

.menu-item .icon{
    height:22px;
    width:22px;
}

.menu-item .org-icon{
    border-radius: 50%;
    object-fit: cover;
}


.menu-item p{
    margin:0;
    font-family: 'Inter';
    font-weight: 600;
    color:var(--text);
    font-size:13.5px;
}

.menu-item:hover{
    background-color: var(--lighterborder);
    border-radius: 5px;
    cursor:pointer;
}