.profile-picture{
    height:50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile{
        height:35px;
        width:35px;
        z-index: 3;
        position: relative;
        margin:5px;
        border-radius: 50%;
        background-color: white;
        object-fit: cover;
    }

    &:hover{
        cursor:pointer;
    }
}

