.profile-picture{
    height:50px;
    position: relative;
}

.profile-picture img{
    height:35px;
    width:35px;
    z-index: 3;
    position: relative;
    margin:5px;
    border-radius: 50%;
}

.profile-picture:hover{
    cursor:pointer;
}

.popup{
    display:flex;
    flex-direction: column;
    z-index: 1; 
    height:45px;
    width:200px;
    right:0;
    top:0;
    border-radius: 23px;
    background-color: white;
    transition:opacity 0.3s,
                height 0.5s;
    border: 1px solid var(--border);
    position: relative;
}

.popup-active{
    height:100px;
    opacity: 1;
}

.profile-picture button{
    font-family: 'Satoshi';
    font-size: 15px;
    outline:none;
    border-radius: 12px;
    background-color: var(--red);
    border:none;
    padding:5px 20px;
    margin:10px;
    color: white;
    width:calc(100% - 20px);
    position: absolute;
    bottom:0;
}

.profile-picture button:hover{
    cursor:pointer;
}

.popup-content{
    height:45px;
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: space-between;
}

.popup-content p{
    flex-grow:1;
    text-align: center;
    font-family:'Satoshi';
    color:var(--text);
}