.recommended-container{
    width:100%;
    transition: all 0.5s;
}

.recommended-container.hide{
    height:0;
    opacity:0;
}

.recommended{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    outline: none;
    border-radius: 15px;
    background-color: var(--offwhite);
    border: none;
    margin: 20px 20px 0 30px;
    width: calc(100% - 60px);
    /* height: 40%; */
    z-index: 20;
}

.recommended p{
    margin-top: 10px;
    font-family: 'Satoshi';
    font-size: 18px;
}