.club-page {
    color: black;
    font-family: satoshi;
}


.club-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 200px);
    height: 100%;
    max-height: calc(100% - 80px);
    max-width: 1400px;
}


.top-header-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #9d8484;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;

}

.club-info{
    width:100%;
}

.club-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    transform: translate(80px) img;

    img{
        width: 120%;
        // height: 100px;
        padding-top: 185px;
    }
    
}

.club-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-left: 200px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.status {
    color: #ff5c5c;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;

}

.description {
    margin: 10px 0;
    padding-left: 200px;
}

.stats {
    position: relative;
    margin-top: 40px;
    color: #666;
}

.actions {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    // padding-left: 0px;
    // padding-top: 40px;
    position: relative;

    button{
        padding: 6px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--red);
        font-family: satoshi;
        color: white;
    }

}

