li.resultmini{
    border-radius: 0;
    padding:10px;
    background-color: var(text);
    width:95%;
    border: 1px solid var(--lightborder);
    margin:5px 0;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    gap:10px;
    pointer-events: all !important;
    position: relative;
}

.resultmini .image{
    overflow:hidden;
    border-radius: 5px;
    width:75px;
    height:70px;
    min-width: 100px;
}

.resultmini:hover{
    background-color: var(--lighterborder);
    cursor:pointer;
}

.resultmini h2{
    font-family:'Inter';
    font-weight:600;
    font-size:14px;
    margin: 0;
    hyphens:auto;
    -webkit-hyphens: auto;
}

.resultmini-info{
    display:flex;
    flex-direction: column;
}

.resultmini-info-container{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

.resultmini .rating{
    display:flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}

.resultmini .rating p{
    margin:0;
    font-size:13px;
    font-family:'Inter';
    font-weight:700;
}

.resultmini .rating img{
    width:12px;
    height:12px;

}

.resultmini .free-until{
    font-size:12px;
    padding: 0 0 0 15px
}


@media(max-width:500px){
    .resultmini h2{
        font-family:'Inter';
        font-weight:600;
        font-size:16px;
        margin: 0;
        hyphens:auto;
        -webkit-hyphens: auto;
    }
}