.create-component{
    display:flex;
    flex-direction: column;
    padding: 25px 20px 20px 20px;
    box-sizing: border-box;
    flex-grow: 1;
    height:100%;
    h1{
        font-size: 21px;
    }
}