.DayColumn{
    display:grid;
    grid-template-rows: repeat(24, 1fr);
    position: relative;
    height:500px;   
    width:145px;
}

.event{
    position: relative;
    border-radius: 5px;
    padding: 5px;
    margin:6px;
    background-color:#B1E6B0;
    /* border: 3px solid darkgreen; */
    box-sizing: border-box;
    /* transform:translateY(1px) */
    opacity:0.8;
    font-family:'Satoshi';
    font-weight: bold;
    color: #414141;
    transition: all 0.3s ease;
    text-align: left;
    font-size:12px;
}

.event:hover{
    scale: 1.04;
    cursor: pointer;
}

.grid{
    display:grid;
    grid-template-rows: repeat(24, 1fr);
    position: relative;
    height:100%;   
    width:100%;
    position: absolute;
}

.grid-item{
    position: relative;
    box-sizing: border-box;
    border-top: 2px solid #DDDCDC;
    margin: 0 2px;
    border-bottom: 2px solid white;
}

